.container {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: #f3de8c47;
  padding-top: 5px;
  padding-bottom: 10px;
  h1 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 39px;
    color: #222831;
    font-weight: 700;
    font-size: 32px;
    width: 77vw;
  }

  .containerWrapper {
    width: 100%;
    margin: 0 auto;

    .outerWrapper {
      position: relative;
      overflow: scroll;
      overflow-y: hidden;
      margin: auto;
      transition: 0.2s ease all;
      scroll-behavior: smooth;
      height: 100px;
      width: 100%vw;
      &::-webkit-scrollbar {
        display: none;
      }

      .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 6900px;
        height: 100px;
        padding-left: 100px;

        animation: slideLeft 84s linear infinite;

        & > div {
          font-size: 32px;
        }
      }
    }
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 932px) {
  .container {
    h1 {
      font-size: 27px;
    }
  }
}

@media screen and (max-width: 430px) {
  .container {
    padding-top: 0;
    padding-bottom: 0;
    height: 170px;
    h1 {
      font-size: 22px;
    }
    .containerWrapper {
      height: 170px;

      .outerWrapper {
        .wrapper {
          margin-top: -31px;
        }
      }
    }
  }
}
