.container {
  width: 100%;
  height: 100vh;
  background-color: #002aff;
  display: inline-block;
  margin-top: 9px;
  h1 {
    margin: auto;
    margin-top: 88px;
    margin-bottom: 39px;
    color: #ffefae;
    font-weight: 700;
    font-size: 32px;
    width: 77vw;
  }
  .email {
    font-size: 68px;
    font-weight: 700;
    color: #ffefae;
    margin-top: 200px;
    text-align: center;
  }
  .otherLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    color: #ffefae;
    text-align: center;

    & > div {
      a {
        text-decoration: none;
        color: #ffefae;
      }
      margin-right: 19px;
      cursor: pointer;
    }
  }
  .goUp {
    margin: auto;
    margin-top: 30px;
    width: 70px;
    height: 70px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsla(0, 0%, 100%, 0.5);
    border: 1px solid rgba(255, 239, 174, 1);
    border-radius: 100%;
    text-decoration: none;
    cursor: pointer;

    &:before {
      content: "↓";
      font-size: 19px;
      color: rgb(255, 239, 174);
      position: relative;
      top: 2px;
      transform: rotate(-180deg);
      animation: slideUpAndDown 2s ease-in infinite;
    }
  }
}

@keyframes slideUpAndDown {
  0% {
    transform: translateY(0) rotate(-180deg);
  }
  50% {
    transform: translateY(-5px) rotate(-180deg);
  }
  100% {
    transform: translateY(0) rotate(-180deg);
  }
}

@media screen and (max-width: 963px) {
  .container {
    .email {
      font-size: 50px;
    }
    .otherLinks {
      font-size: 20px;
    }
    .goUp {
      width: 50px;
      height: 50px;

      &:before {
        content: "↓";
        font-size: 17px;
      }
    }
  }
}
@media screen and (max-width: 932px) {
  .container {
    h1 {
      font-size: 27px;
    }
  }
}

@media screen and (max-width: 733px) {
  .container {
    .email {
      font-size: 40px;
    }
    .otherLinks {
      font-size: 15px;
    }
    .goUp {
      width: 41px;
      height: 41px;

      &:before {
        content: "↓";
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 582px) {
  .container {
    .email {
      font-size: 28px;
    }
    .otherLinks {
      font-size: 15px;
    }
    .goUp {
      width: 37px;
      height: 37px;

      &:before {
        content: "↓";
        font-size: 12px;
      }
    }
  }
}
@media screen and (max-width: 430px) {
  .container {
    h1 {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 413px) {
  .container {
    .email {
      font-size: 23px;
    }
    .otherLinks {
      font-size: 12px;
    }
    .goUp {
      width: 37px;
      height: 37px;
      margin-top: 20px;

      &:before {
        content: "↓";
        font-size: 12px;
      }
    }
  }
}
